In [1]:
import pandas as pd
%matplotlib inline  
names1880 = pd.read_csv('/Users/martin/PycharmProjects/BabyNames/Data/names/yob1880.txt', names = ['name','sex', 'births'])
names1880.groupby('sex').births.sum()

sex
F     90993
M    110491
Name: births, dtype: int64

In [2]:
years = range(1880,2011)
pieces = []
columns = ['name', 'sex', 'births']
for year in years:
    path = '/Users/martin/PycharmProjects/BabyNames/Data/names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)
    
    frame['year']= year
    pieces.append(frame)
names = pd.concat(pieces, ignore_index=True)

names

In [6]:
names.head()

        name sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [8]:
total_births = names.pivot_table('births',rows='year', cols='sex', aggfunc= sum)

TypeError: pivot_table() got an unexpected keyword argument 'rows'

In [ ]:
total_births.tail()

In [5]:
total_births.plot(title = 'Total births by sex and year')

NameError: name 'total_births' is not defined

In [ ]:
total_births = names.pivot_table