In [16]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                    'B': {0: 1, 1: 3, 2: 5},
                    'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [4]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [5]:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [6]:
pd.melt(df, id_vars=['A'], value_vars=['B'], var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5

In [7]:
df.columns = [list('ABC'), list('DEF')]

In [8]:
pd.melt(df, col_level=0, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [9]:
pd.melt(df, id_vars=[('A', 'D')], value_vars=[('B', 'E')])

  (A, D) variable_0 variable_1  value
0      a          B          E      1
1      b          B          E      3
2      c          B          E      5

In [11]:
df = pd.DataFrame({'A': {0: 'foo', 1: 'foo', 2: 'foo', 3: 'foo', 4: 'foo', 5: 'bar'},
                    'B': {0: 'one', 1: 'one', 2: 'one', 3: 'two', 4: 'two', 5: 'one'},
                    'C': {0: 'small', 1: 'large', 2: 'large', 3: 'small', 4: 'small', 5: 'large'},
                  'D': {0: '1', 1: '2', 2: '2', 3: '3', 4: '3', 5: '4'}})
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  2
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4

In [17]:
df.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)

TypeError: pivot_table() got multiple values for argument 'values'