In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.github.com/pydata/pandas/master/pandas/tests/data/tips.csv'
tips = pd.read_csv(url)
tips

In [ ]:
#SELECT total_bill, tip, smoker, time FROM tips LIMIT 5;
tips[['total_bill', 'tip', 'smoker', 'time']].head(5)

In [ ]:
# SELECT * FROM tips WHERE time = 'Dinner' LIMIT 5;
tips[tips['time'] == 'Dinner'].head(5)

In [ ]:
# SELECT * FROM tips WHERE time = 'Dinner' AND tip > 5.00;
tips[(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)]

In [ ]:
# SELECT * FROM tips WHERE size >= 5 OR total_bill > 45;
tips[(tips['size'] >= 5) | (tips['total_bill'] > 45)]

In [ ]:
# SELECT * FROM frame WHERE col2 IS NULL;
frame[frame['col2'].isnull()]

In [ ]:
# SELECT * FROM frame WHERE col1 IS NOT NULL;
frame[frame['col1'].notnull()]

In [ ]:
# SELECT sex, count(*) FROM tips GROUP BY sex;
tips.groupby('sex').size()
tips.groupby('sex').count()
tips.groupby('sex')['total_bill'].count()

In [ ]:
# SELECT day, AVG(tip), COUNT(*) FROM tips GROUP BY day;
tips.groupby('day').agg({'tip': np.mean, 'day': np.size})

In [ ]:
# SELECT smoker, day, COUNT(*), AVG(tip) FROM tips GROUP BY smoker, day;
tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})

In [ ]:
# SELECT * FROM df1 INNER JOIN df2 ON df1.key = df2.key;
pd.merge(df1, df2, on='key')
indexed_df2 = df2.set_index('key')
pd.merge(df1, indexed_df2, left_on='key', right_index=True)

In [ ]:
# SELECT * FROM df1 LEFT OUTER JOIN df2 ON df1.key = df2.key;
pd.merge(df1, df2, on='key', how='left')

In [ ]:
# SELECT * FROM df1 RIGHT OUTER JOIN df2 ON df1.key = df2.key;
pd.merge(df1, df2, on='key')
indexed_df2 = df2.set_index('key')
pd.merge(df1, indexed_df2, left_on='key', right_index=True)

In [ ]:
# SELECT city, rank FROM df1 UNION ALL SELECT city, rank FROM df2;
pd.concat([df1, df2])